<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="app.republik">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name="app.republik.MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name="app.republik.MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="republik" />
      </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <service 
			  android:name="com.wix.reactnativenotifications.fcm.FcmInstanceIdListenerService" 
			  android:exported="false"> 
			  <intent-filter> 
				  <action android:name="com.google.firebase.MESSAGING_EVENT" /> 
			  </intent-filter> 
		</service>
      <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/notification_icon" />
      <meta-data android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/primary_dark" />
    </application>

</manifest>
