<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="app.republik">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!-- Chromebook Compatibility see: https://developer.android.com/topic/arc#update_your_apps_manifest_file -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application
      android:name="app.republik.MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name="app.republik.MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter android:label="@string/app_name" android:autoVerify="true">
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="https" android:host="www.republik.ch" />
          <data android:scheme="https" android:host="republik.ch" />
          <data android:scheme="https" android:host="republik.love" />
        </intent-filter>
      </activity>
      <service
        android:name="com.wix.reactnativenotifications.fcm.FcmInstanceIdListenerService"
        android:exported="true">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
		  </service>
      <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/notification_icon" />
      <meta-data android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/primary_dark" />
    </application>
    <!-- Required for external links to open in webview
    ref: https://reactnative.dev/docs/linking#canopenurl
     -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https"/>
            <category android:name="android.intent.category.DEFAULT" />
            <!-- The BROWSABLE category is required to get links from web pages. -->
            <category android:name="android.intent.category.BROWSABLE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto"/>
        </intent>
    </queries>

</manifest>
